@font-face {
  font-family: "Cq Mono";
  src: url(./assets/CqMono-mBXa.ttf);
}

* {
  font-family: "Cq Mono";
  color: var(--text-colour);
  line-height: 1;
  box-sizing: border-box;
}

:root {
  font-family: "Cq Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--base-colour);

  --background-tile: url(/src/assets/crossbackground.png);

  /* Base sizes (not for margin/padding) */
  --xs: 0.775rem;
  --sm: 0.866rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;

  /* Base colours */
  --text-colour: black;
  --base-colour: #ededed;
  --base-colour-contrast: #1a1a1a;
  --hover: #e1e1f0;
  --hover-contrast: #242424;
  --focus: #e2e1f4;
  --focus-contrast: #1f1f1f;
  --button: hsl(22, 100%, 31%);
  --button-hover: hsl(22, 100%, 39%);

  /* Margin & padding */
  --gap-sm: 3px;
  --gap-md: 6px;
  --gap-lg: 12px;
  --gap-xl: 32px;

  /* Border radius */
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;

  /* Border colour */
  --border-pale: rgb(222, 222, 222);
  --border-light: rgb(188, 188, 188);
  --border-medium: rgb(46, 46, 46);
  --border-heavy: rgb(16, 16, 16);

  /* Layout component colours */
  --nav-colour: var(--base-colour-contrast);

  /* Layout dimensions */
  --nav-height: 1.5rem;
  --aside-width: 13rem;
}

.dark-mode {
  /* Base colours */
  --text-colour: white;

  --base-colour: #111111;
  --base-colour-contrast: #e7e7e7;
  --hover: #23232b;
  --hover-contrast: #c2cddc;
  --focus: #1d1d24;
  --focus-contrast: #d4d7e4;
  --button: hsl(22, 100%, 31%);
  --button-hover: hsl(22, 100%, 39%);

  --border-pale: rgb(20, 20, 20);
  --border-light: rgb(25, 25, 25);
  --border-medium: rgb(35, 35, 35);
  --border-heavy: rgb(37, 37, 37);

  --background-tile: url(/src/assets/crossbackground_dark.png);
}

.input-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-label label {
  font-weight: 600;
  margin-bottom: 2px;
  padding: 0 6px;
}

.input-label input {
  width: 100%;
  text-align: center;
}

body {
  margin: 0;
  background: var(--background-tile);
}

input[type="file"] {
  display: none;
}

input,
textarea,
button,
option,
select {
  border: 1px solid var(--border-medium);
  border-radius: var(--border-radius-sm);
  padding: var(--gap-md) var(--gap-sm);
}

button {
  background: var(--button);
  transition: background-color 100ms ease;
  border: 2px solid var(--text-colour);
  cursor: pointer;
  color: white;
  text-shadow: 0px 2px 3px black;
  font-size: var(--md);
}
button:hover {
  background: var(--button-hover);
}

input,
textarea,
option,
select {
  border: 1px solid var(--border-medium);
  background: none;
}

input:hover,
textarea:hover,
option:hover,
select:hover {
  background: var(--hover);
}

input:focus,
textarea:focus,
option:focus,
select:focus {
  background: var(--focus);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
a {
  margin: 0;
  padding: 0;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.05);
}
.modal-container .modal {
  border: 2px solid var(--border-light);
  padding: var(--gap-md);
  border-radius: var(--border-radius-md);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.166), 0px 4px 8px rgba(0, 0, 0, 0.166);
  background: var(--base-colour);
  position: relative;
  max-width: min(18rem, 95vw);
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
  font-size: var(--sm);
}

.close-button,
.modal-close-button {
  background: red;
  cursor: pointer;
  border: 2px solid var(--text-colour);
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  filter: opacity(0.75);
  transition: filter 100ms ease;
}

.modal-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
}
.close-button:hover,
.modal-close-button:hover {
  filter: opacity(1);
  background: red;
}
.close-button svg,
.modal-close-button svg {
  width: 12px;
  height: 12px;
}

.invitation-friend-request {
  gap: var(--gap-sm);
  font-size: var(--xs);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-pale);
  padding: 3px;
  border-radius: var(--border-radius-sm);
}
.invitation-friend-request span {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
}
.invitation-friend-request .buttons {
  gap: var(--gap-sm);
  width: 100%;
  display: flex;
}
.invitation-friend-request .buttons button {
  padding: 2px;
  font-size: var(--xs);
  width: 50%;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spin {
  animation: spin 500ms linear infinite;
}
