:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--base-colour);

  /* Base sizes */
  --xs: 0.75rem;
  --sm: 0.833rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;

  /* Base colours */
  --base-colour: #ededed;
  --base-colour-contrast: #1a1a1a;
  --hover: #e1e1f0;
  --hover-contrast: #242424;
  --focus: #b5b3d9;
  --focus-contrast: #383838;
  --button: #00569c;
  --button-hover: #1871ba;

  /* Margin & padding */
  --gap-sm: 3px;
  --gap-md: 6px;
  --gap-lg: 12px;
  --gap-xl: 32px;

  /* Border radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  /* Border colour */
  --border-pale: rgb(122, 122, 122);
  --border-medium: rgb(46, 46, 46);
  --border-heavy: rgb(16, 16, 16);
}

button {
  background: var(--button);
  transition: background-color 100ms ease;
  border: 1px solid var(--border-medium);
  cursor: pointer;
}
button:hover {
  background: var(--button-hover);
}

body {
  margin: 0;
}

input,
textarea,
button,
option,
select {
  border: 1px solid var(--border-medium);
  border-radius: var(--border-radius-sm);
  padding: var(--gap-md) var(--gap-sm);
}

input,
textarea,
option,
select {
  border: 1px solid var(--border-medium);
  background: none;
}

input:hover,
textarea:hover,
option:hover,
select:hover {
  background: var(--hover);
}

input:focus,
textarea:focus,
option:focus,
select:focus {
  background: var(--focus);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
a {
  margin: 0;
  padding: 0;
}

* {
  line-height: 1;
  box-sizing: border-box;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.modal-container .modal {
  border: 1px solid var(--border-medium);
  padding: var(--gap-md);
  border-radius: var(--border-radius-md);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.166), 0px 4px 8px rgba(0, 0, 0, 0.166);
  background: var(--base-colour);
  position: relative;
}

.modal-close-button {
  background: red;
  cursor: pointer;
  border: 2px solid var(--border-heavy);
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  filter: opacity(0.5);
  transition: filter 100ms ease;
}
.modal-close-button:hover {
  filter: opacity(1);
  background: red;
}
.modal-close-button svg {
  width: 12px;
  height: 12px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spin {
  animation: spin 500ms linear infinite;
}
